# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PyInstaller folders and files
build/
dist/
*.spec

# Backups
*.zip

# Local Test and Temp directories
test_out/
old .gemini path/
temporarilly developed tools for temp reasons/
